body {
    background: #fefefe;
}

.mainHeader {
    color: #424354;
}

.sectionHeader {
    color: #747474;
    background: #C5BAAF;
}

.mediumHeader {
    color: gray;
    background: #F2E0CE;
}

.link {
    color: #79A5E0;
}