.body {
    background: #fefefe;
}

.main__article--header {
    color: gray;
    background: #F8E5E6;
    clear: both;
}

.main__article {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding-top: 30px;
}

.main__article--heading {
    text-align: center;
    size: 40px;
    color: #3A5673;
}

.main__article--link {
    text-decoration: none;
    color: #271140;
}

.main__article--section {
    color:#51B9CD;
    background: #AAF1F5;
    position: relative;
}

.main__article--paragraph {
    padding-left: 20px;
    overflow: hidden;
}

.main__article--picture {
    width: 100%;
    max-width: 400px;
    float: left;
    padding: 15px 15px; 
    display: block;
    overflow: hidden;
    clear: left;
}

.main__article--text {
    text-align: center;
    clear: left;
    margin-top: 15px;
}

.main__top {
    width: 100%;
    max-width: 900px;
    margin: 32px auto;
    padding-top: 15px;
}