body {
    background: #fefefe;
}

.mainHeader {
    color: indigo;
    font-size: 64px;
}

.sectionHeader {
    color: #1460AA;
    background: #f0bcdf;
}

.mediumHeader {
    color: gray;
    background: greenyellow;
}